
.card-container{
  padding: 30px;
  margin-top: 50px;
 width: 100%;
}
.card{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
  
}

.card-heading{
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'Roboto';

}

.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  
}
.link:hover{

  text-decoration: underline;
  text-decoration-thickness: 0.1em; 
  text-underline-offset: 0.4em;
  color: #fff;
  font-weight: bold;

}
.action-colomn {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
img{
  height: 40px;
  width: 40px;
  
}
.dark{
  background-color: black;
  color: aliceblue;
}


